<div class="start-page">
  <div class="section">
    <div class="welcome-banner">
      <div class="welcome">Welcome</div>
      <div class="headline">I'm Marek Chec.</div>
      <div class="subtitle">Passionate software developer & digital content creator<br />from Germany.</div>
      <p class="description">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. sed diam nonumy eirmod tempor invidunt ut labore
      </p>
    </div>
  </div>
  <div class="section section--second">
    <div class="contact">
      <div class="contact__title">Let’s connect!</div>
      <div class="contact__subtitle">You’ll find me hanging out on these platforms:</div>
      <!-- <a class="contact__email" href="mail@marekchec.com">mail&#64;marekchec.com</a> -->
      <ul class="platform-list">
        <li class="platform-list__item">
          <mc-linkedin-logo-svg />
        </li>
        <li class="platform-list__item">
          <mc-github-logo-svg />
        </li>
        <li class="platform-list__item">
          <mc-tiktok-logo-svg />
        </li>
        <li class="platform-list__item">
          <mc-discord-logo-svg />
        </li>
        <li class="platform-list__item">
          <mc-instagram-logo-svg />
        </li>
      </ul>
    </div>
  </div>
</div>
